In [1]:
import pandas as pd

In [7]:
df = pd.read_csv('emails.csv')

In [8]:
df.head()

,Email No.,the,to,ect,and,for,of,a,you,hou,...,connevey,jay,valued,lay,infrastructure,military,allowing,ff,dry,Prediction
0,Email 1,0,0,1,0,0,0,2,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Email 2,8,13,24,6,6,2,102,1,27,...,0,0,0,0,0,0,0,1,0,0
2,Email 3,0,0,1,0,0,0,8,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Email 4,0,5,22,0,5,1,51,2,10,...,0,0,0,0,0,0,0,0,0,0
4,Email 5,7,6,17,1,5,2,57,0,9,...,0,0,0,0,0,0,0,1,0,0

In [11]:
input = df.drop('Email No.',axis='columns')

In [12]:
input.head()

,the,to,ect,and,for,of,a,you,hou,in,...,connevey,jay,valued,lay,infrastructure,military,allowing,ff,dry,Prediction
0,0,0,1,0,0,0,2,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,8,13,24,6,6,2,102,1,27,18,...,0,0,0,0,0,0,0,1,0,0
2,0,0,1,0,0,0,8,0,0,4,...,0,0,0,0,0,0,0,0,0,0
3,0,5,22,0,5,1,51,2,10,1,...,0,0,0,0,0,0,0,0,0,0
4,7,6,17,1,5,2,57,0,9,3,...,0,0,0,0,0,0,0,1,0,0

In [13]:
# create a multinomial naive bayes
#Use cros_val_score to estimate the average score

from sklearn.naive_bayes import MultinomialNB
from sklearn.model_selection import cross_val_score


input = input.drop('Prediction',axis='columns')
target = df['Prediction']
scores = cross_val_score(MultinomialNB(),X=input,y=target,cv=10)

In [14]:
scores

array([0.94015444, 0.93822394, 0.9787234 , 0.9516441 , 0.95357834,
       0.96131528, 0.92843327, 0.94197292, 0.95551257, 0.8549323 ])

In [16]:
# trying other nb algorithms to check the score

from sklearn.naive_bayes import BernoulliNB,GaussianNB

In [17]:
ben_scores = cross_val_score(BernoulliNB(),X=input,y=target,cv=10)

In [18]:
ben_scores

array([0.88030888, 0.85714286, 0.9245648 , 0.8762089 , 0.85686654,
       0.87040619, 0.86653772, 0.88781431, 0.90909091, 0.76789168])

In [19]:
gau_scores = cross_val_score(GaussianNB(),X=input,y=target,cv=10)

In [20]:
gau_scores

array([0.93822394, 0.94015444, 0.96905222, 0.96711799, 0.95744681,
       0.95357834, 0.94003868, 0.95744681, 0.93423598, 0.91876209])

In [21]:
def calc_mean_of_scores(scores):
    sum = 0
    for score in scores:
        sum = sum + score
    return sum/10

In [22]:
multi_mean = calc_mean_of_scores(scores)

In [23]:
multi_mean

0.9404490564065032

In [24]:
ben_mean = calc_mean_of_scores(ben_scores)

In [25]:
ben_mean

0.8696832781939164

In [26]:
gau_mean = calc_mean_of_scores(gau_scores)

In [27]:
gau_mean

0.947605729520623

In [28]:
# Per the mean scores, gausian nb wins

In [36]:
from sklearn.model_selection import train_test_split

X_train,X_test, y_train, y_test = train_test_split(input,target,test_size=0.2)
model = GaussianNB()
model.fit(X_train,y_train)
model.score(X_test,y_test)

0.9584541062801932

In [37]:
#Persisting model

from joblib import dump

dump(model,'email-predictor.joblib')

['email-predictor.joblib']

In [38]:
#load model to check whether everything is working as intended
from joblib import load

loaded_model = load('email-predictor.joblib')

In [42]:
loaded_model.predict(X_test[:10])

array([1, 1, 0, 0, 1, 0, 0, 1, 0, 1], dtype=int64)

In [44]:
y_test[:10]

2262    1
4017    1
1350    0
2819    0
4474    1
1485    0
1575    0
3220    1
165     0
2109    1
Name: Prediction, dtype: int64